@using DepartureBoardExercise2.Models

@model List<Flight>
@{
    ViewBag.Title = "Home Page";

    var flights = Model.OrderByDescending(m => m.FlightNum);
}

<div class="jumbotron">
    <h1>Departure Board</h1>
    <p class="lead">
        Please do not forget that you are required to be at the gate at least 20 minutes before your scheduled departure.
        Please have your boarding pass, carry on luggage, and identification ready before getting in line to board your plane.
    </p>

</div>


<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        Flight #
                    </th>
                    <th scope="col">
                        Destination
                    </th>
                    <th scope="col">
                        Time
                    </th>
                    <th scope="col">
                        Gate
                    </th>
                    <th scope="col">
                        Airline
                    </th>
                    <th scope="col">
                        Remarks
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in flights)
                {
                    <tr>
                        <td>
                            @flight.FlightNum
                        </td>
                        <td>
                            @flight.Destination
                        </td>
                        <td>
                            @flight.Time
                        </td>
                        <td>
                            @flight.Gate
                        </td>
                        <td>
                            @flight.Airline
                        </td>
                        <td>
                            @flight.Remarks
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Advice for getting to your destination</h2>
        <p>
            Remember to put fresh batteries in your Talkboy before you leave for the airport. Also, please refrain from unplugging your alarm clock for any reason
            the night before your flight. Lastly if you must replace batteries, please wait until you are on the plane to do so to avoid any unexpected trips to New York
        </p>
        <p><a class="btn btn-default" href="https://www.imdb.com/title/tt0104431/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Avoid having your luggage sent to Cleveland</h2>
        <p>
            When there is a large holiday coming up, be sure to put a luggage tag on all of your bags. During large holidays there could be unexpected delays and events. That
            could mean that your personal belongings could be on their way to Cleveland. Please do your best to avoid all days where the following could be at the airport:
            Dick Thornburg, people from the Shriners convension, the goddamn Boyscouts, lost dogs, international diplomats, or a reindeer.<br />If you do your best to avoid those conditions,
            you should be able to have a smooth experience in our airport.
        </p>
        <p><a class="btn btn-default" href="https://www.imdb.com/title/tt0099423/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dealing with delays</h2>
        <p>
            If you find yourself in a situation where you are delayed, do not panic. If you must stay at the airport, you can make a nice bed by pushing two rows of seats together in the terminal.
            If you happen to see a woman break the heel on her stilletos, feel free to go and recommend that she go to payless shoes as they have snesible heels. If you bump into that same woman again,
            don't hesitate to as her to grab an eat to bite. If that all doesn't keep you busy, feel free to dance around a terminal while rennovating it.
        </p>
        <p><a class="btn btn-default" href="https://www.imdb.com/title/tt0362227">Learn more &raquo;</a></p>
    </div>
</div>